
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h1 class="text-center"><i class="fa-solid fa-shield-dog"></i> Clinica Veterinaria Animal House</h1>
</div>

<div class="row my-4">

    <div class="col-md-6 p-4 card Sfondo">
        <h3>Chi siamo</h3>
        <hr />
        La Clinica Veterinaria Animal House nasce dalla passione, dalla professionalità e dall’esperienza del Dr. Federico Giuliana maturata negli anni dedicati alla prevenzione ed alla cura dei nostri pazienti.
    </div>

    <div class="col-md-4 py-5 ms-auto">
        <div class="d-flex flex-column">
            <a href="/ClinicaVeterinaria/RicercaAnimali" class="btn ColoreBtn my-2 py-2"><h5><i class="fa-solid fa-magnifying-glass-location"></i> Cerchi il tuo animale? </h5></a>
            <a href="/ClinicaVeterinaria/RicoveriAttivi" class="btn ColoreBtn my-2 py-2"><h5><i class="fa-solid fa-dog"></i> Vuoi adottarne uno?</h5></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 py-5 ms-auto ">
        <div class="d-flex flex-column">
            <img src="https://www.oasy.com/media/immagini/4116_n_3711_n_gatto.png" />
        </div>
    </div>

    <div class="col-md-6 p-5 m-5 card Sfondo text-center">
        <h3>I nostri servizi</h3>
        <hr />
            <div class="card text-dark p-1 my-2 ">Chirurgia generale</div>
            <div class="card text-dark p-1 my-2 ">Chirurgia specialistica</div>
            <div class="card text-dark p-1 my-2 ">Esami di laboratorio</div>
            <div class="card text-dark p-1 my-2 ">Diagnostica per immagini</div>
            <div class="card text-dark p-1 my-2 ">Visite specialistiche</div>
            <div class="card text-dark p-1 my-2 ">Day hospital</div>
            <div class="card text-dark p-1 my-2 ">Ricovero</div>
         </div>
    </div>

<div class="row">
    <div class="col-md-6 p-5 m-5 ">
        <h3>Dicono di noi</h3>
        <hr />
        <div class="card Sfondo shadow p-3 m-2">
            <div class="d-flex flex-row">
                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>

            </div>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
            <p class="my-3">Nome Cognome </p> 

        </div>

        <div class="card Sfondo shadow p-3 m-2">
            <div class="d-flex flex-row">
                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>

            </div>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
            <p class="my-3">Nome Cognome</p>

        </div>

        <div class="card Sfondo shadow p-3 m-2">
            <div class="d-flex flex-row">
                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>

            </div>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
            <p class="my-3">Nome Cognome</p>

        </div>

    </div>

    <div class="col-md-4 py-5 ms-auto">
        <div class="d-flex flex-column">
            <img src="https://www.pngmart.com/files/1/Dog-PNG-File.png" />
        </div>
    </div>
</div>





